---
import "aos/dist/aos.css";
const items = [
  [
    {
      subtitle: "install KaOS",
      title: "Calamares Installer",
      description:
        "<strong>Ease of use</strong> is important to get things done efficiently. The installer makes it easy to setup your system just to your liking. See the <a href='/news'>News</a> for information on the latest available ISO",
      imgSrc: "/calamares.webp",
      reverse: "3",
    },
    {
      subtitle: "coded with Go & PHP",
      title: "Custom Package Viewer",
      description:
        "No need to guess as to what is available. Just go to KaOS specific created <a href='/packages'>Package Viewer page</a> and browse the list or <strong>search for any package</strong>.",
      imgSrc: "/code.webp",
      reverse: "1",
    },
    {
      subtitle: "QML/Kirigami based",
      title: "Applications to help you using KaOS",
      description:
        "In-House developed applications <strong>Croeso and Welcome</strong> simplify customizing your system and getting access to needed information.",
      imgSrc: "/croeso.webp",
      reverse: "3",
    },
  ],
];
---

<section class="scroll-mt-16 dark:bg-slate-700" id="media">
  <div class="px-4 py-16 mx-auto max-w-5xl lg:py-20">
    {
      items.map((subitems) => (
        <>
          {subitems.map(({ subtitle, title, description, imgSrc, reverse }) => (
            <div class="grid grid-cols-1 lg:grid-cols-3 items-center gap-16">
              <div
                class={`my-4 order-3 lg:order-${reverse} lg:col-span-2`}
                data-aos="fade-left"
                data-aos-delay="200"
                data-aos-duration="2000"
                data-aos-easing="ease-in-out-cubic"
              >
                <img
                  src={imgSrc}
                  alt="in-house developed"
                  width="100%"
                  height="auto"
                  class="rounded-[48px]"
                />
              </div>
              <div class="order-1 lg:order-2">
                <p class="uppercase font-light text-gray-800 dark:text-gray-300 text-sm">
                  {subtitle}
                </p>
                <div class="mb-2 font-extrabold text-4xl">{title}</div>
                <p class="mb-5 max-w-96" set:html={description} />
              </div>
            </div>
          ))}
        </>
      ))
    }
  </div>
</section>
